{% extends "base.html" %}

{% block  title %}Сброс пароля{% endblock %}

{% block content %}
    <h1>Сбросить пароль</h1>
    {% if validlink %}
        <p>Пожалуйства введите ваш новый пароль двавжды: </p>
         <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>Ссылка сброса пароля недействительна. Возможно она уже использовалась ранее. Воспользуйтесь другой ссылкой.</p>
    {% endif %}
{% endblock %}