{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
    <p>
        Добро пожаловать в аккаунт. Вы сохранили {{ total_images_created }} картинки{{ total_images_created|pluralize }}
    </p>
    {% endwith %}
    <p>
        Перетащите кнопку в меню инструментов, чтобы сохранять картинки с других сайтов
        <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Сохранить</a>
    </p>
    <p>
        Вы также можете <a href="{% url "edit" %}">отредактировать профиль</a>
        или <a href="{% url "password_change" %}">изменить свой пароль</a>.
    </p>
    <h2>What's happening</h2>
    <div id="action_list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}
    </div>
{% endblock %}